.signupScreen {
  max-width: 300px;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.85);
}
.signupScreen > form {
  display: grid;
  flex: column;
}
.signupScreen > form > h1 {
  margin-bottom: 20px;
}
.signupScreen > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}
.signupScreen > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  background-color: #e50914;
  color: white;
  border-radius: 5px;
}
.signupScreen > form > h4 {
  text-align: left;
}

.signupScreen__gray {
  color: gray;
}

.signupScreen__link {
  cursor: pointer;
}
